segundo_trimestre/tema10/ejerciciosXML/ej2/ej2.dtd

<!-- Hecho por Alejandro Santos-->
<!ELEMENT agenda (contacto+)>
<!ELEMENT contacto (nombre,telefono,email,direccion)>
<!ELEMENT nombre (#PCDATA)>
<!ELEMENT telefono (#PCDATA)>
<!ATTLIST telefono tipo (movil|fijo) #REQUIRED>
<!ELEMENT email (#PCDATA)>
<!ELEMENT direccion (calle,ciudad,codigo_postal)>
<!ELEMENT calle (#PCDATA)>
<!ELEMENT ciudad (#PCDATA)>
<!ELEMENT codigo_postal (#PCDATA)>