segundo_trimestre/tema11/ejerciciosXML/ej6/ej6.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- Hecho por Alejandro Santos-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="ficha_tecnica">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="marca" type="xs:string" />
                <xs:element name="modelo" type="xs:string" />
                <xs:element name="anyo" type="xs:string" />
                <xs:element name="matricula" type="xs:string" />
                <xs:element name="combustible" type="xs:string" />
                <xs:element name="potencia" type="xs:string" />
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>